<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></>
    <src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></>
    <src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></>
    <src="static/index.js"></>
    <title>Cadastro Produto</title>
  </head>
  <body>
    {% include "topbar.html" %}
   <div class="container" style="margin-left:38%">
     <h2>Informações Cadastradas</h2>
    <div>
      <div class="form-group">
        <label for="input-name">Nome do Produto:</label>
        <input type="name" id="name" class="form-control" style="width:450px" value="{{produto.name|safe}}" disable>
      </div>
      <div class="form-group">
        <!-- ESSA PARTE VC NÃO FALOU O QUE ERA PRA FAZER -->
        <label for="input-name">Foto:</label>
        <input type="foto" id="foto" class="form-control" style="width:450px" value="{{produto.foto|safe}}" disable>
      </div>
    <div class="form-group">
      <label for="input-name">Código de Barra:</label>
      <input type="barCod" id="barCod" class="form-control" style="width:450px" value="{{produto.barCod|safe}}" disable>
    </div>
  </div>
  </body>
</html>
