<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link " onclick="cadastro()" href="#">Cadastro</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" onclick="pesquisar()" href="#">Pesquisa</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" onclick="editar" href="#">Editar Cadastro</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" onclick="deletar()" href="#">Deletar</a>
   </li>
 </ul>
</nav>
